body{
    background-image: url("https://images2.alphacoders.com/954/954227.jpg");
    background-attachment: fixed;
}
#main{
    margin-left: 450px;
    margin-right: 450px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    width: 800px;
    
}

#f1{
    font-family: "Times New Roman";
    font-weight: bolder;
}



#Home{
    background-color: aqua; 

    color: black;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: black, solid;
}
#reg{
    background-color: aqua; 

    color: black;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: black, solid;
}
#news{
    background-color: aqua; 

    color: black;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: black, solid;
}
#login{
    background-color: aqua; 

    color: black;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: black, solid;
}


